torch==2.0.1
transformers==4.38.1
flash-attn==2.3.3
scipy==1.12.0
nltk==3.8.1
spacy==3.7.4
sentence_transformers==2.4.0
jieba==0.42.1
tiktoken==0.6.0
sentencepiece==0.2.0
opencc-python-reimplemented==0.1.7
stag==1.1.1
langcodes
language_data
protobuf
pyvis